#weather-container {
  * {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
  }

    $pink-one: #C8B0B9;
    $pink-dark: #AF7A7B;
    $brown: #CAAE9D;
    $blue: #1A227E;
    $white: #F9F5F1;

    $dark-grey: #354041;
    $blue-ish: #3f5f71;
    $green: #3c7e61;
    $blue-green-grey: #94ac9f;
    $yellow: #e5e1aa;

  #banner {
    width: 100%;
    height: 20vh;
    background: $dark-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  #title {
    color: $blue-green-grey;
    font-family: "Times New Roman", serif;
    font-size: 8vw
  }
  #banner-h6{
    padding: 20px;
    color: #efefef
  }
  #main {
    width: 100vw;
    box-shadow: none
  }
  #loading-image {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  #sky-card-wrapper {
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #overlay {
   position: absolute;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #344041;
    opacity: .1;

    z-index: 2;
    cursor: pointer;
  }
  .card-box {
    width: 30%;
    height: 60%;
    display: flex;
    border-radius: 12px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  }
  #map-container {
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: center;

  }
  #map {
    height: 100%;
    width: 100vw;
    margin: auto;
  }
  #beforeLoading {
    background-image: url("https://icon-library.net/images/custom-loading-icon/custom-loading-icon-9.jpg");
    /*background-size: cover;*/
    /*background-position: center;*/
  
  }
  #afterLoading {
    background-image: url("https://images.unsplash.com/photo-1559890165-92528632b9dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1978&q=80");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100vw;
    // padding: 0 10% !important;
  }
  .weather-icon {
    margin: auto;
    height: 100px;
    width: 50%
  }
  .gym-icon {
    color: yellow;
    height: 20px;
    background: none
  }
 #card-0, #card-1, #card-2 {
    width: 30% !important;
  }
  
  .all-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    #afterLoading {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #sky-card-wrapper {
      justify-content: space-evenly;
      align-items: center;
      width: 60%
    }
    #card-0, #card-1, #card-2 {
      width: 30% !important
    }
  
    #loading-image {
      height: 400px;
    }
    #map-container {
      padding: 0 10% !important;
      background: $dark-grey;
    }
    #map {
      -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
      -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
      box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
      width: 60vw
    }
    #title {
      font-size: 5vh
    }
  }
}