.shape-outer {
  display: flex;
  flex-shrink: 0;
  height: calc(150px + 4vw);
  width: calc(150px + 4vw);
  justify-content: center;
  margin: auto;
  background-image: linear-gradient(to bottom right, #ff3cac, #562b7c, #2b86c5);
  
  
}

.shape-inner {	
  height: calc(130px + 4vw);
  width: calc(130px + 4vw);
  background: black;
  background-size: cover;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.octagon {
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
      clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}