.shape-outer {
  display: flex;
  flex-shrink: 0;
  height: calc(80px + 4vw);
  width: calc(80px + 4vw);
  justify-content: center;
  margin: auto;
  background-image: linear-gradient(to bottom right, #ff3cac, #562b7c, #2b86c5);
  
  
}

.shape-inner {	
  height: calc(50px + 4vw);
  width: calc(50px + 4vw);
  background: black;
  background-size: cover;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.octagon {
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
      clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.icon {
  font-size: 3vh !important;
  color: white;
  /* height: 50% !important; */
}
.aboutMe {
  font-weight: '500';
  text-decoration: underline;
  padding: 10px;
  font-size: 5vh !important;
}
@media screen and (min-width:576px){
  .shape-outer {
    height: calc(100px + 4vw);
    width: calc(100px + 4vw);
  }
  .shape-inner {
    height: calc(80px + 4vw);
    width: calc(80px + 4vw);
  }
  .icon {
    font-size: 9vw !important;
  }
}
@media screen and (min-width: 768px) {
  .icon {
    font-size: 7vw !important;
  }
}